{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "no-console": 2,
        "quotes": ["error", "single"],
        "max-len": ["error", { "code": 80, "tabWidth": 4 }],
        "no-duplicate-imports": "error"
    },
    "env": {}
}